body {
  font-family: 'Press Start 2P', cursive;
  margin: 0px;
  background-color: rgb(161, 60, 26);
  /* padding: 80px 30px 70px 30px; I dont know if this is better or margin on the game-container */
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 30px 70px 30px;
}

.game-title {
  font-size: 40px;
  margin: 0px 0px 80px 0px;
  color: rgb(236, 162, 55);
  font-style: italic;
  text-align: center;
  line-height: 55px;
}

.egg-image {
  width: 350px;
  margin: 0px 0px 30px 0px;
}

.egg-image:hover {
  cursor: pointer;
}

.counter {
  font-size: 33px;
  color: rgb(236, 162, 55);
}

.app-version {
  position: absolute;
  top: 20px;
  left: 20px;
}
